 head
    .header {
      image: url('logo3.png')
      text-align: center;
    }
    
    body {
      background-image: url('logo3.png') text-align: center; 
      background-size: cover;
      background-attachment:"fixed";
      background-color: lightblue;
      background-size: cover;

    style="color: white;"
     
  }
  
  h
     {
     img src="TH.jpg"
     width="220"
     height="300"
     rgba(255, 255, 255, 0.5)
       
     }  
  h
   {
     color: white; "font-size: 40px;"
    p  
    {
    style="color: white;"
    }
  a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
